<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
       default-lazy-init="false">

    <aop:aspectj-autoproxy/>

    <bean id="financeLogAop" class="com.ttpai.boss.finance.aop.FinanceLogAop">
        <property name="valid" value="true"/>
        <property name="logLevel" value="ERROR"/>
    </bean>

    <aop:config>
        <aop:aspect ref="financeLogAop">
            <aop:around method="around" pointcut="execution(@com.ttpai.boss.finance.annotations.JsonOfLog * *(..)) &amp;&amp; @annotation(jsonOfLog)"/>
        </aop:aspect>
    </aop:config>
</beans>
