table{
	border:#ffff00 1px solid;
	width:60%;
	border-collapse:collapse;/*用于表格属性, 表示表格的两边框合并为一条*/
}
table td{
	white-space:nowrap;
	border:#249bdb 1px solid;
	padding:5px;/*所有 4 个内边距都是 5px 
	*/
}
table th{
	white-space:nowrap;
	border:#249bdb 1px solid;
	padding:7px;
	background-color:rgb(200,200,200);
}
.one{
	background:#73b398;
}
.two{
	background:#ff88c4;
}
.hover{
	background:#02e836;
}
a:visited{
	color:#0000ff;
}
a:hover{
	color:#ff0000;
	text-decoration:underline;
}
a{
	text-decoration:none;
	color:#0000ff;
}
